.body {
    font-size: 16px; /* Set a base font size for the body */
}
.dropdown-layout
{
    display: inline-block;
    margin-left: 170px;
    vertical-align: middle;
    content: "";
    border-top: 0.0em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparen;
    color: black;
    height: 0;
    width: 80%;
background-color: powderblue;
}
.logo-pos
{

vertical-align: 2em;
position: relative;
left: 80px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-inline: 20px;
   
}
.image-container {
    position: relative;
    
}

.image-container .heading {
    position: absolute;
    bottom: 53%; /* Adjust as needed */
    right: 53%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    text-align: left;
    color: white; 
}


  /* Add this style to your existing CSS or in a style tag in the head of your HTML document */

  /* Adjust the top position and color of the carousel caption */
  .carousel-caption {
    top: 10%; /* You can adjust the percentage according to your design */
    text-align: left; /* Align the text to the left */
  }

  /* Color the h3 text */
  .carousel-caption h3 {
    font-size: 24px; /* Adjust the font size */
    color: #acdff7; /* Set the color to red; you can replace this with your desired color code */
  }

  /* Increase the font size of the h1 text */
  .carousel-caption h1 {
    font-size: 70px; /* Adjust the font size; you can replace this with your desired size */
  }

  /* Optional: Adjust the style of the paragraph text */
  .carousel-caption p {
    font-size: 18px; /* Adjust the font size */
  }

  /* Change the color of the button */
.carousel-caption a.btn.btn-outline-light {
    background-color: #e7edf1; /* Set the background color; you can replace this with your desired color code */
    border-color: #f4f6f7; /* Set the border color to match the background color */
    color: #332e2e; /* Set the text color */
    border-radius: 0; /* Set border-radius to 0 for a rectangular shape */
}

/* Change the color of the button on hover */
.carousel-caption a.btn.btn-outline-light:hover {
    background-color: #3b3d3f; /* Set the hover background color; you can replace this with your desired color code */
    border-color: #f3f5f8; /* Set the hover border color */
    color: #faf6f6; /* Set the text color on hover */
}
