.dropdown-layout
{
    display: inline-block;
    margin-left: 160px;
    vertical-align: middle;
    content: "";
    border-top: .0em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparen;
}
.logo-pos
{

vertical-align: 50px;
position: relative;
left: 50px;
}